
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg
*.iso

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.l

# Compilation and Qt preprocessor part
*.qm
Makefile
!depends/Makefile
src/qt/bitcoin-qt
Bitcoin-Qt.app
background.tiff*

# Qt Creator
Makefile.am.user

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

# Previous releases
releases

#lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
total.coverage/
fuzz.coverage/
coverage_percent.txt
/cov_tool_wrapper.sh
qa-assets/

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
test/.mypy_cache/

!src/leveldb*/Makefile

/doc/doxygen/

libbitcoinconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist

osx_volname
dist/
*.background.tiff

/guix-build-*
